spring:
  profiles:
    active: prod
  jackson:
    time-zone: Asia/Seoul
  mvc:
    format:
      date-time: "yyyy-MM-dd'T'HH:mm:ss"
    pathmatch:
      matching-strategy: ant_path_matcher

springdoc:
  servers:
    - url: https://api.talk.chuseok22.com
      description: main-server
    - url: http://localhost:8080
      description: local-server

  default-consumes-media-type: application/json;charset=UTF-8
  default-produces-media-type: application/json;charset=UTF-8
  swagger-ui:
    path: /docs/swagger
server:
  forward-headers-strategy: framework
